/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Ignore source design assets in root (already copied to public/images)
/BEST White@4x 1.png
/Brosur.png
/Checkout.png
/Group 4.png
/Homepage.png
/LOGO BEST 2 (PRIMARY) 1.png
